#items{
	width: 100%;
	text-align: center;
}
.item{
	width: 80%;
	display: table;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: -2em;
	padding: 1em;
}
.img{
	display: table-cell;
	width: 32.5%;
	vertical-align: middle;
	padding: 1em;
}
.img img{
	border: 1px solid #333;
	width: 100%;
}
.text{
	vertical-align: middle;
	display: table-cell;
	width: 57.5%;
	text-align: left;
	padding: 1em;
}
.text p{
	margin: 0;
	color: #fff;
}
.text h2{
	font-size: 160%;
	margin: 0 0 .3em 0;
}