h1, div, nav, body{
	margin: 0;
	padding: 0;
}
p:active,a:active,div:active,p:focus,a:focus,div:focus{
	outline-style: none;
	outline: none;
}
a{
	text-decoration: none;
}

/* former MAIN.css */

body{
	display: flex;
	align-items: center;
	background: #0272B8/*rgb(165, 191, 221)*/;
	color: #db0000;
	font-size: 100%;
	font-family: Helvetica;
	min-height: 100vh;
	position: relative;
}
a,p{
	color: #fff;
}
a:hover{
	color: #ddd;
}

#title{
	font-size: 450%;
	font-weight: normal;
	letter-spacing: -0.03em;
	color: #fff/*rgb(165, 191, 221)*/;
}

#page{
	text-align: center;
	display: block;
	width: 100%;
	margin: 4em 2em 5em 2em;
}

#footer{
	width: 100%;
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 1ex 0;
	font-size: 125%;
	background: #046;
	text-align: center;
}
#footer a{
	color: #ddd;
}
#footer a:hover{
	color: #bbb;
}