#title{
	display: inline-block;
	font-size: 300%;
	font-weight: lighter;
	letter-spacing: -0.04em;
	color: #0e0/*rgb(165, 191, 221)*/;
}

p{
	font-size: 125%;
	color: #fff;
}
p a{
	color: #ccc;
}
p a:hover{
	color: #aaa;
}

/*
@media screen and (min-width: 401px) and (max-width: 625px){
	body{font-size: 10px;}
}

@media screen and (max-width: 400px) {
	body {font-size: 14px;}
	#title{font-size: 250%;}
	#error{font-size: 125%;}
	#form, .station, #submit{width: 90%; margin: 0; margin-top: .75ex;}
	#form{padding: 0; width: 100%; margin-bottom: -2ex;}
	#submit{width: 95%; margin-bottom: .75ex;}
	#arrow{display: none}
	#options{display: block; margin: 0;}
	#options>div{
		border-top: 1px solid #db0000;
		padding: .5ex 0 .2ex 0;
		display: block;
		text-align: center;
		width: 100%;
	}
	#options>div:first-of-type{
		border-top: 2px solid #db0000;
	}
}*/