#map{
	margin-left: auto;
	margin-right: auto;
	height: 65vh;
}
#description{
	text-align: center;
	font-weight: lighter;
	width: 100%;
	display: block;
	margin-top: 2.5em;
}
#description a:hover{
	opacity: 0.8;
}

.clickable:hover{
	opacity: 0.8;
}