#map{
	margin-left: auto;
	margin-right: auto;
	height: 65vh;
	margin-top: -2em;
}
#description{
	color: #fff;
	text-align: center;
	width: 100%;
	display: block;
	margin-top: 2.5em;
	font-size: 1.3em;
}
#description a:hover{
	opacity: 0.8;
}

#arte{
	color: #f84;
}
#swr, #mdr, #rbb{
	color: #e00;
}
#dw{
	color: #8cf;
}

#itembox{
	margin: 4vh auto 2em auto;
	text-align: center;
}

.item{
	padding: 0;
	font-size: 115%;
	color: #fff;
	text-align: center;
	display: inline-block;
	margin: .5em;
	line-height: 1.25em;
	height: 25vh;
	position: relative;
	border: 2px solid #333;
}

.item>a{
	text-align: center;
}

.item img{
	display: block;
	height: 100%;
}

.item a:hover{
	opacity: 0.9;
}

.item span{
	line-height: 1.4em;
	padding-top: .2em;
	width: 100%;
	font-size: 1.05em;
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(30,30,30,0.75);
	color: #fff;
}

.link{
	padding: 0 .2em;
	display: block;
}

#back{
	font-size: 1.3em;
	color: #fff;
}

#back:hover{
	color: #ccc;
}

.clickable:hover{
	opacity: 0.8;
}

@media screen and (max-width: 500px) {
	body {font-size: 90%; padding: .2em;}
	#container{width: 100%;}
	#map svg{height: unset !important;}
}